---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portfolio">
	<main>
      <div class="background__section | " id="sectionOne">
         <!-- <img src="../../public/images/IMG_8874 1.png" alt="bacground__section one" class="background__image"> -->
         <div class="div_image" class=" ">

         </div>
      </div>
   </main>
</Layout>

<style>
  .div_image{
      background: url(../../public/images/IMG_8874\ 1.png);

      background-size: contain;
      aspect-ratio: 16/9;
      background-repeat: no-repeat;
  } 
</style>
