---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portfolio">
	<main>
      <div class="background__section | " id="sectionOne">
         <!-- <img src="../../public/images/IMG_8874 1.png" alt="bacground__section one" class="background__image"> -->
         <div class="div_image | relative ">
            <div class="text__box | w-4/6 absolute inset-0 h-96 mx-auto my-auto mix-blend-color-burn">ia</div>
         </div>
      </div>
   </main>
</Layout>

<style>
  .div_image{
      background: url(../../public/images/IMG_8874\ 1.png);

      background-size: contain;
      aspect-ratio: 16/9;
      background-repeat: no-repeat;
  }

  .text__box{
      background-color: hsl(0 85 \ 100%);
  }
</style>
