---

---

<script >
    const button = document.querySelector(".mobile-nav-toggle");

    button?.addEventListener("click", () => {
        const menu = document.querySelector(".Menu")
        const state = menu?.getAttribute('data-visible');
        const hamburger = document.querySelector(".hamburger-icon")
        const exitIcon = document.querySelector(".exit-icon")
        if(state === "false"){
            menu?.setAttribute("data-visible", "true")
            button.setAttribute("aria-expanded", "true")
        } else{
            menu?.setAttribute("data-visible", "false")
            button.setAttribute("aria-expanded", "false")
        }
        menu?.classList.toggle("translate-x-full")
        hamburger?.classList.toggle("hidden")
        exitIcon?.classList.toggle("hidden")
    })
</script>
<div class="hamburger fixed z-50 right-0">
    <button class="mobile-nav-toggle | btn btn-ghost py-4 md:hidden" aria-controls="Primary-navigation" aria-expanded="false"><span class="sr-only">Menu</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="hamburger-icon |  " width="28" height="28" viewBox="0 0 28 28" fill="none">
        <line y1="1.5" x2="28" y2="1.5" stroke="white" stroke-width="3"/>
        <line y1="10.5" x2="28" y2="10.5" stroke="white" stroke-width="3"/>
        <line y1="20.5" x2="28" y2="20.5" stroke="white" stroke-width="3"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" class="exit-icon | hidden" width="28" height="28" viewBox="0 0 28 28" fill="none">
        <path d="M2.00008 20.9999L21.0001 1.99989" stroke="white" stroke-width="3"/>
        <line x1="2.06066" y1="1.93934" x2="21.0607" y2="20.9393" stroke="white" stroke-width="3"/>
        </svg>
        </button>
</div>
   <nav class="overflow-hidden fixed z-40 right-0 md:inset-0 md:min-w-full md:flex md:justify-center md:min-h-fit lg:inset-0 lg:min-w-full lg:flex lg:justify-center lg:min-h-fit md:text-sm">
            <div class="Menu | flex flex-col bg-slate-600 bg-opacity-5 min-h-screen py-28 px-10 backdrop-blur-lg translate-x-full transition-transform transition-duration:300ms md:translate-x-0 md:flex-row md:justify-center   md:min-h-fit md:p-0 md:my-7 md:backdrop-blur-3xl md:py-4 md:w-fit md:px-20 lg:translate-x-0 lg:flex-row lg:justify-center  lg:min-h-fit lg:p-0 lg:my-7 lg:backdrop-blur-3xl lg:py-5 lg:w-fit lg:px-40" data-visible="false">
                <ul class="flex flex-col md:flex-row gap-5 md:items-center text-right text-2xl">
                    <li><a class="p-0 font-light text-white " href="/index">Home</a></li>
                    <li><a class="p-0 font-light text-white " href="/Projects">Projects</a></li>
                    <li><a class="p-0 font-light text-white " href="/About-Me">About Me</a></li>
                    <li><a class="p-0 font-light text-white " href="/Contact-Me">Contact Me</a></li>
                </ul>
            </div>
        
    </nav>

<style>
     @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

   
    .Menu{
        fill:rgba(255, 255, 255, 0.03);
    }
    @media (min-width: 768px){
        a{
        color: #FFF;
        text-align: center;
        font-family: 'Poppins','Rubik',sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        padding: 0;
        line-height: normal;
    } 
    }
   
    @media (min-width: 1020px){
        a{
        color: #FFF;
        text-align: center;
        font-family: 'Poppins','Rubik',sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        padding: 0;
        line-height: normal;
    } 
    }

    ul{
        text-align: right;
    }
</style>
